In [2]:
import pandas as pd

# Cargar datos del club

In [4]:
datos_aura = pd.read_csv("partidos_aura.csv")
datos_aura.head()

,fecha_partido,equipo_local,equipo_visitante,goles_local,goles_visitante,posesion_local (%),posesion_visitante (%),tiros_arco_local,tiros_arco_visitante,estadio
0,2023-01-01,Atlético Python,AURA FC,2,0,54,46,12,6,Python Arena
1,2023-01-08,NumPy City,Atlético Python,1,5,60,40,12,3,Estadio ML
2,2023-01-15,AURA FC,Data United,1,0,55,45,10,7,Python Arena
3,2023-01-22,Atlético Python,Data United,2,3,57,43,3,3,Campo Pandas
4,2023-01-29,Data United,AURA FC,5,3,52,48,7,12,Estadio ML

# Revisar Información General

In [ ]:
datos_aura.info()